node_modules
out
dist
build
*.log
*.md
*.yml
*.yaml
*.json
*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
coverage
*.min.js
*.min.css
.DS_Store
Thumbs.db
.idea
.vscode
.sass-cache
electron/vite-env.d.ts
src/vite-env.d.ts